
# macos files
.DS_Store

# development reosources
resources/

# data file
attendance-server/src/app/data
aicam/src/data

# environment variable file
**/setup/env_vars.sh

# service files
aicam/setup/aicam.service
interface/setup/interface.service
attendance-server/setup/attendacneServer.service

# python cache files
__pycache__

aicam/src/update.txt
